<div class="col-sm-12 col-md-12">
  <div class="col-md-6 col-md-offset-3">
    <h3 class="welcome-note">Create your favourite blog into epub</h3>
    <p class="welcome-note-tag">(Currently available for wordpress and blogspot blog)</p>
      <%= form_tag('/', { method: "GET", role: "form", id: "search_form"}) do %>
        <div class="form-group">
          <%= label_tag "Blog url" %>
          <%= text_field_tag "url", nil, class: 'form-control', id: "search_field", required: 'true', placeholder: "Eg. sathia27.wordpress.com or tshrinivasan.blogspot.com" %>
        </div>
        <div class="form-group">
          <%= label_tag "Book name" %>
          <%= text_field_tag "blog[book_name]", nil, class: 'form-control', required: 'true', placeholder: "Ebook name. eg. Ruby on rails blog" %>
        </div>
        <div class="form-group">
          <%= label_tag "Publisher name" %>
          <%= text_field_tag "blog[publisher]", nil, class: 'form-control', required: 'true', placeholder: "Your name. eg. Sathia" %>
        </div>
        <div class="form-group">
          <%= label_tag "License" %>
          <%= text_field_tag "blog[license]", nil, class: 'form-control', required: 'true', placeholder: "License. Eg. Creative common license" %>
        </div>
        <div class="form-group">
          <%= label_tag "Language of Book" %>
          <%= text_field_tag "blog[language]", nil, class: 'form-control', required: 'true', placeholder: "Language written blog. Eg. Tamil, English" %>
        </div>
        <div class="overflow-hidden">
          <%= submit_tag 'Create', class: "btn btn-success pull-left col-md-4 col-md-offset-4", id: "search_button", :"data-loading-text" => "Please wait.." %>
          <%= image_tag "loading.gif", alt: "Loading..", width: "45", id: "loader" %>
        </div>
        <p id="list_post"> or <%= link_to "List posts", "#", :id => "redirect_to_posts" %> (If already downloaded) </p>
      <% end %>
  </div>
  <div class="main_content"></div>
</div>
